<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<div class="col-sm-4">
		       <label>New Password</label>
            <div class="form-group pass_show"> 
                <input type="text" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" value="" class="form-control" placeholder="New Password"> 
            </div> 

            <button class="btn btn-primary btn-block" (click)="ChangePassword()">Change Password</button>
		</div>  
	</div>
</div>